.html, 

body {
    background-color: #f4fefe;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color:  #1fe0d6;
    color: rgb(2, 0, 0);
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 40px;
}

nav a {
    color: rgb(59, 59, 59);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.p-content {
    background-color: rgb(223, 241, 255);
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.container-content {
    background-color: rgb(223, 241, 255);
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.img-content {
    max-width: 50%;
    height: auto;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("foto\ keluarga.jpeg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.container-footer {
    justify-content: center;
    text-align: center;
    background-color: #21e6e2;
    padding: 10px;
    
}

.header {
    justify-content: center;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 16px;
    padding: 10px;
    background-color: rgb(223, 241, 255);
}

/* ABOUT */

.about {
    padding: 60px 10%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
}

.logo-ayahmama {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: bold;
    padding: 15px 60px;
}


.about-content {
    display: grid;
    grid-template-columns: minmax(260px, 300px) 1fr;
    gap: 32px;
    align-items: center;
}

.about-img {
    width: 100%;
    max-width: 320px;
    height: auto;
    object-fit : cover;
    border-radius: 16px;
}

.about-text h3 {
    margin-bottom: 12px;
    font-size: 22px;
}

.about-text p {
    line-height: 1.7;
    font-size: 16px;
}

@media (max-width: 768px) {
    .about-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

.about-img {
        max-width: 260px;
        margin: 0 auto;
    }
}